.flex-container{
    margin: 5px;
    padding: 5px;
    display: flex;
    list-style: none;
}
.flex-item{
    background: blueviolet;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    margin: 5px;
}
.row{
    flex-direction: row;
}

.row-reverse li{
    background-color: yellow;
}
.row-reverse{
    flex-direction: row-reverse;
}

.column li{
    background-color: green;
}
.column{
    flex-direction: column;
}

.column-reverse li{
    background-color: pink;
}
.column-reverse{
    float: right;
    flex-direction: column-reverse;
}